<section class="post-container">
    <div class="post-btn">
        <button id="start-post-btn">Start Post</button>
    </div>
    <form class="post-form" id="post-form">
        <div class="mb-3">
            <label for="img-url" class="form-label">Image URL</label>
            <input type="url" class="form-control" name="img-url" id="img-url" placeholder="url">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="title">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <ul class="post-list">
        {{#postArr}}
        <li>
            <div class="post-card-container">
                <div class="post-line"></div>
                <div class="avatar-and-line">
                    <div>
                        <img src="../../assets/avatar-1.png" alt="avatar-1" class="avatar">
                    </div>
                    <div class="avatar-line"></div>
                </div>

                <div class="post-card">
                    <div class="post-heading">
                        <div>
                            <p class="name">Josephin Doe posted on your timeline</p>
                            <p class="time">{{timeAgo}}</p>
                        </div>
                        <div>
                            <i class="fa-sharp fa-solid fa-ellipsis-vertical menu-icon"></i>
                        </div>
                    </div>
                    <div class="card-image">
                        <img src="{{url}}" alt="image">
                    </div>
                    <div class="card-footer">
                        <div class="title-description">
                            <p class="title">{{title}}</p>
                            <p class="description">{{description}}</p>
                        </div>
                        <hr>
                        <div class="footer-buttons">
                            <div class="like">
                                <div><i class="fa-solid fa-heart"></i></div>
                                <p>Like (20)</p>
                            </div>
                            <div class="vl"></div>
                            <div class="comments">
                                <div><i class="fa-solid fa-message"></i></div>
                                <p>Comments (25)</p>
                            </div>
                            <div class="vl"></div>
                            <div class="share">
                                <div><i class="fa-solid fa-share-nodes"></i></div>
                                <p>Share (10)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {{/postArr}}
    </ul>
</section>