<section class="profile-section">
    <div class="head-image">
        <img src="../../assets/hero-img.jpg" alt="hero-image">
    </div>
    <div class="link">
        <ul>
            <li><a href="./timeline.html">Timeline</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./photos.html">Photos</a></li>
            <li><a href="./friends.html">Friends</a></li>
        </ul>
    </div>
</section>