<section class="profile-section">
    <div class="head-image">
        <img src="../../assets/hero-img.jpg" alt="hero-image">
    </div>
    <div class="link">
        <ul>
            <li><a href="#">Timeline</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Friends</a></li>
        </ul>
    </div>
</section>