.friend-list-card{
    position: absolute;
    top: 1500px;
    width: 20vw;

    .friend-list-header{
        padding: 18px 20px;
        font-size: 18px;
        font-weight: 600;
        color: rgb(160, 158, 158);
    }

}